/* Stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}



/* Stile header*/
.container-jumbotron{
    width: 80%;
    margin: 0px auto;
}

.header-fixed{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-jt {
  font-size: 16px;
  padding: 12px 10px;
  width: 60%;
  background-color: blue;
  color: white;
  border: none;
  margin: 40px;
}

.button-header {
  font-size: 15px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
}

.flex-header a{
    padding-left: 15px;
    padding-right: 15px;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

 span>a>i{
    padding-top: 50px;
    color: black;
}

header span>a{
    font-size: 30px;
}
.flex-jt{
    display: flex;
    justify-content: center;
}

.bg-jt{
    background-color: rgba(180,208,231,255);
    padding-top: 60px;
}

.jt-text{
    width: 30%;
    font-size: 20px;
}

.jt-img{
    width: 70%;
}

.jt-img img{
    width: 100%;
}

.bg-jt h1{
    font-size: 60px;
    margin: 40px 0;
}

.jt-text button{
    margin: 50px 0;
}

.flex-header a:hover {
  border-bottom: 2px solid black;
}

/* Stile main */
.button-main {
  font-size: 18px;
  padding: 12px 24px;
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 40px;
}
.container-main{
    width: 70%;
    margin: 0px auto;
}

.vertical-card{
    display: flex;
    gap: 20px;
    
}

.horizontal-card{
    display: flex;
    gap: 20px;
    width: 97%;
    margin: 0 auto;
}

.plane-card{
    border: solid 2px rgb(194, 190, 190);
    width: 100%;
    margin-top: 50px;
}

.text-card{
    width: 90%;
    margin: 0px auto;
    
}

.left-text-card{
    width: 70%;
}

.right-text-card{
    width: 30%;
}

.left-text-card span>p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-card{
    border-bottom: solid 2px rgb(194, 190, 190);
    text-align: center;
    vertical-align: middle;
}

.fa-ul p{
    padding-top: 0;
}

ul.fa-ul .fa-li {
  text-align: start;
}

.main-banner{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.main-banner img{
    width: 90%;
}

.img-main{
    width: 60%;
}

.text-main{
    width: 40%;
}

.button-partner {
  font-size: 18px;
  padding: 12px 0;
  width: 40%;
  background-color: white;
  margin-top: 20px;
}

.row {
    display: flex;
    gap: 30px;
    width: 100%;
}
.operation-card {
    width: calc(100%/3);
    margin-bottom: 40px;
}

.section-end-main{
    margin-top: 30px;
    margin-bottom: 150px;
}

.operation-card img{
    width: 100%;
}

main h1{
    font-size: 45px;
    margin: 50px 0;
}

main i{
    font-size: 15px;
}
main h3{
    font-size: 30px;
    margin: 40px 20px 0 0;
}

main h4{
    font-size: 15px;
    margin-bottom: 25px;
}
.price{
    font-weight: bold;
}

.span-date p{
    color: gray;
    margin-bottom: 50px;
}


main p{
    font-size: 18px;
    padding: 15px 0;
}

.title-card p{
    margin: 15px 0;
    padding: 0;
}

.separatore-main{
    width: 20%;
    border: 1px solid gray;
    margin: 50px 0;
}

.buy p{
    padding: 0; 
    margin: 50px 0;
}

.text-card ul:nth-of-type(2) i{
    color: blue;
}

.vertical-card li:last-of-type {
    margin-bottom: 50px;
}
/* Stile footer */
footer{
    background-color: black;
   
}

.container-address{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.container-select{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.address{
    width: 20%;
    margin-top: 70px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
}

.address p{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
}

.address li{
    padding: 10px 0;
}

.separatore-footer{
    width: 10%;
    border: 1px solid gray;
    margin-top: 100px;
}

.container-select i{
    color: white;
}

select{
    margin: 50px 0;
    background-color: black;
    color: white;
    border: none;
}